/* .contenedor-nosotros {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, / 9%);
}

.imagen-nosotros{
    height: 50%;
    width: auto;
}

.contenedor-texto-nosotros{
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-nosotros{
    font-size: 1.3rem;
}

.cargo-nosotros{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.texto-nosotros{
    font-size: 1.1rem;
    text-align: justify;
}

.iconos-nosotros img{
    width:40px;
    border-radius: 50%;
    padding-top: 30px;
}

 */


.container {
    display: block;
    
}
.foto-perfil {
    width: 250px;
    border-radius: 10px;
}

a>img{
    width: 30px;
}